<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sample4
    link(rel="stylesheet", href="style.css")
  body
    .header
      .content
        .text
          h2 Elena
          .menu
            a(href="#") HOME
            a(href="#") SERVICES
            a(href="#") FEATURES
            a(href="#") CONTACT
          h1 HAVE A GOOD DAY
          h3 JUST FOR YOU ON THEMEFOREST
          .button
            a(href="#") GET YOUR COPY NOW
    .section
      .content
        .info
          .info1
            img(src="img/user-group copy.jpg", alt="")
            h3 PROFESIONALS
            .line
            p Lorem ipsum dolor sit amet
              br
              ro consectetur elit.
          .info2
            img(src="img/heart.jpg", alt="")
            h3 AMATEURS
            .line
            p Lorem ipsum dolor sit amet
              br
              ro consectetur elit.
          .info3
            img(src="img/headset.jpg", alt="")
            h3 FOR EVERYONE
            .line
            p Lorem ipsum dolor sit amet
              br
              ro consectetur elit.
    .section2
      .content
        .colum
          .col1
            img(src="img/Layer 14.jpg", alt="")
            h2 Responsive email template
            .line1
            p Lorem ipsum dolor sit amet, consectetur
              br
              ro adipiscing elit. Donec interdum mollis
            .button1
              a(href="#") Read more
          .col2
            img(src="img/Layer 16.jpg", alt="")
            h2 Fully compatible template
            .line1
            p Lorem ipsum dolor sit amet, consectetur
             br
             ro adipiscing elit. Donec interdum mollis
            .button1
              a(href="#") Read more
    .section3
      .content
        .support
          h2 Fully Supported template
          .line2
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a
            adipiscing lorem commodo vitae. Ut semper fhhj sdfgh semper lacus. Suspendisse convallis vel tellus at
            br
            as consectetur Aneanhan risus arcu
          .button2
            a(href="#") Read more
    .section4
      .content
        .full
          .full1
            img(src="img/Layer 17.jpg", alt="")
            h3 FULLY Layered PSD
            .line3
            p Lorem ipsum dolor sit amet,
              br
              d consectetur adipiscing elit.
            .link
              a(href="#") Check this out  >
          .full2
            img(src="img/Layer 20.jpg", alt="")
            h3 FUll Compatibility
            .line3
            p Lorem ipsum dolor sit amet,
              br
              f consectetur adipiscing elit.
            .link
              a(href="#") Check this out  >
          .full3
            img(src="img/Layer 18.jpg", alt="")
            h3 VERY GREAT MODULES
            .line3
            p Lorem ipsum dolor sit amet,
              br
              fs consectetur adipiscing elit.
            .link
              a(href="#") Check this out  >
    .section5
      .content
        .send
          .s1
            h2 SEND IT NOW
            .line4
            p Lorem ipsum dolor sit amet, consectetur
              br
              ssd adipiscing elit. Suspendisse malesuada
              br
              asd sodales risus, a adipiscing lorem.
            .button3
              a(href="#") Read more
          .s2
            h2 VERY NICE TO SEE
            .line4
            p Lorem ipsum dolor sit amet, consectetur
             br
             df adipiscing elit. Suspendisse malesuada
              br
              dvf sodales risus, a adipiscing lorem.
            .button3
              a(href="#") Read more
    .section6
      .content
        .for
          .for1
            img(src="img/Layer 19.jpg", alt="")
          .for2
            h2 JUST FOR YOU ON THEMEFOREST
            .line5
            p Lorem ipsum dolor sit amet, consectetur adipi
              br
              ddf scing elit. Donec interdum mollis risus, in mattis
              br
              sf erat convallis egestas.
            .button4
              a(href="#") Read more
    .footer
      .content
        h3 this template was featured on
        .line6
        .linkword
          a(href="#") TechCrunch
          a(href="#") Promail
          a(href="#") Mashable
          a(href="#") Atlaspix
    .footer2
      .content
        .copy
          .icon1
            p Elenea © copyright 2013 - Unsubscribe here
          .icon2
            <a href="#" class="social"><i class="fa fa-facebook fa-inverse"></i></a>
            <a href="#" class="social"><i class="fa fa-twitter fa-inverse"></i></a>
            <a href="#" class="social"><i class="fa fa-google-plus fa-inverse"></i></a>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">






